.page-container {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

header.topbar button,
header.topbar .header-btn {
  text-decoration: none;
  background-color: #276dae;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}


header.topbar button:hover,
header.topbar .header-btn:hover {
  background-color: rgb(30, 66, 132);
}
